*-assignment/*assignment-IntroToVLSI*
*-assignment/EE?325*
*-assignment/*.rar
*-assignment/*.zip
*-assignment/SiliconSmart ACE by Synopsys*
*-assignment/Abstract View Generation*
cad/
diagrams/
pics-block-diagrams/